@inherits LayoutComponentBase
@inject Data.Services.CatalogService CatalogService

<div class="columns is-desktop is-gapless">
    <div class="column"></div>
    <div class="column is-three-fifths">
        <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
            <div class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item">
                        Home
                    </a>
                </div>
            </div>
        </nav>

        <div class="content">
            @Body
        </div>
    </div>
    <div class="column"></div>
</div>

@code {
    public Data.Models.Category[] Categories { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Categories = await CatalogService.GetCategories();
    }
}